<!DOCTYPE html>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="newIndex.css">
    <link rel="stylesheet" href="typography.css">
    <link rel="stylesheet" href="recommendCard.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hobbyist</title>

</head>



<body>

    <!--<h1 id="title" class="container"><img src="img/phobbyistlogo.jpg" id="phoblogo"></h1>-->
    <!-- Slider main container -->
    <div class="swiper-container swiper-container-o">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
                       <!-- Slides -->
            <div class="swiper-slide page-swiper">
                <div class="macro-container ">
                    <div class="container">

                        <header>
                            <h1>Hobbyist</h1>
                        </header>
                        <!--RECOMMEND CARD-->
                        {{#with recommend}}
                        <div class="recommendCardContainer hide">
                            <div class="card indexCard recommendCard">
                                <div class="cover">
                                    <img class="z-depth-3 img-responsive" src="{{poster}}">
                                    <!--<h5 class="blue-grey grey-text text-lighten-5">recommend</h5>-->
                                </div>
                                <div>
                                    <h5 class="center-align">{{title}}</h5>
                                </div>
                                <div class="tags-container">
                                    {{#each tags}}
                                    <div class="tag chip waves-effect">{{this}}</div>
                                    {{/each}}
                                </div>
                                <div class="card-content hide-on-small-only">
                                    <p>{{summary}}</p>
                                </div>
                                <div class="card-action">
                                    <a class="watchnow" id="{{imdb}}">watch now</a>
                                    <a href="movieDetail/{{imdb}}">detail</a>
                                </div>
                            </div>
                            <a class="back">Back</a>
                        </div>
                        {{/with}}
                        <!--END OF RECOMMEND CARD-->
                        <!--RANDOM CARD-->
                        {{#with random}}
                        <div class="randomCardContainer hide">
                            <div class="card indexCard randomCard">
                                <div class="cover">
                                    <img class="z-depth-3 img-responsive" src="{{poster}}" alt="">
                                </div>
                                <div>
                                    <h5 class="center-align">{{title}}</h5>
                                </div>
                                <div class="tags-container">
                                    {{each tags}}
                                    <div class="tag chip waves-effect">{{this}}</div>
                                    {{/each}}
                                </div>
                                <div class="card-content hide-on-small-only">
                                    <p>{{summary}}</p>
                                </div>
                                <div class="card-action">
                                    <a class="watchnow" id="{{imdb}}">watch now</a>
                                    <a href="movieDetail/{{imdb}}">detail</a>
                                </div>
                            </div>
                            <a class="back">Back</a>
                        </div>
                        {{/with}}
                        <!--END OF RANDOM CARD-->
                        <div class="wrapper2">
                            <div class="card greeting">
                                <h2>Hello WH</h2>
                                <h3>Looking for a Movie?</h3>
                            </div>
                            <div class="interaction-container">
                                <div>
                                    <h3 class="interaction">You can get<em><a class="recommendation"> Recommendation</a></em> from other users</h3>
                                    <h3 class="interaction">or <em><a class="random">We Pick One</a> </em>for you </h3>
                                </div>
                            </div>
                            <div class="enter_watchlist">
                                <a href="movie">enter your watchlist</a>
                            </div>

                        </div>
                    </div>

                    <!--<div class="swipe-helper">
                        <h4>swipe right to see recent activity</h4>
                    </div>-->
                </div>
            </div>
            <div class="swiper-slide page-swiper">
                <div class="macro-container">
                    <div class="container">
                        <h1>Recent</h1>
                        <div class="card recentCard valign ">
                            <div class="card-image">
                                <img src="https://image.tmdb.org/t/p/w300//wFFlaVHmQG4U43m0l3eQqHZluvn.jpg">
                                <span class="card-title">Arrival</span> </div>
                            <div class="card-content hide-on-small-only">
                                <p>Taking place after alien crafts land around the world, an expert linguist is recruited by the military to determine whether they come in peace or are a threat.</p>
                            </div>
                            <div class="card-action">
                                <a class="watchnow" id="tt2543164">watch now</a>
                                <a href="movieDetail/tt2543164">detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bubbles">
                <div class="bubble x1"></div>
                <div class="bubble x2"></div>
                <div class="bubble x3"></div>
                <div class="bubble x4"></div>
                <div class="bubble x5"></div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination-o"></div>
    </div>
    <!-- end of swiper-container-->


    <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="material-icons">menu</i>
        </a>
        <ul>
            <li><a class="btn-floating red" href="movie"><i class="material-icons">theaters</i></a></li>
            <!--<li><a class="btn-floating green" href="book"><i class="material-icons">book</i></a></li>-->
            <li><a class="btn-floating blue" href="/"><i class="material-icons">home</i></a></li>
        </ul>
    </div>



    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- materialize-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.jquery.min.js"></script>
    <!-- javascript-->
    <script src="js/main.js"></script>
    <script src="js/search.js"></script>
    <script src="js/index.js"></script>
</body>

</html>